
.table-nowrap-content {
  tr {

    th,
    td {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.sticky-table-toolbar {
  width: 100%;
  z-index: 1;
  position: sticky;
}

// sticky table toolbar Spacing
$sticky-table-toolbar-spacing: 5px;

// Desktop Mode
@include media-breakpoint-up(lg) {
  .sticky-table-toolbar {

    // Fixed header mode
    .header-fixed & {
      top: get($header-config, fixed, height, desktop);
    }

    // Fixed header & fixed toolbar modes
    .header-fixed.toolbar-fixed & {
      top: calc(#{get($header-config, fixed, height, desktop)} + var(--kt-toolbar-height) - #{$sticky-table-toolbar-spacing});
    }
  }
}

// Tablet & mobile modes
@include media-breakpoint-down(lg) {
  .sticky-table-toolbar {

    // Fixed header mode
    .header-tablet-and-mobile-fixed & {
      top: get($header-config, fixed, height, tablet-and-mobile);
    }

    // Fixed header & fixed toolbar modes
    .header-tablet-and-mobile-fixed.toolbar-tablet-and-mobile-fixed & {
      top: calc(#{get($header-config, fixed, height, tablet-and-mobile)} + var(--kt-toolbar-height-tablet-and-mobile) - #{$sticky-table-toolbar-spacing});
    }
  }
}